# Get your API key from: https://www.themoviedb.org/settings/api


# TMDB
VITE_TMDB_API_KEY=332625e9a1fcfb93329932bfebe2ba33

# Firebase
VITE_FIREBASE_API_KEY=AIzaSyCUbAGgFUKKWfRbMrP_SYQ41RO8D-CXajE
VITE_FIREBASE_AUTH_DOMAIN=my-movie-app-b4609.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=my-movie-app-b4609
VITE_FIREBASE_STORAGE_BUCKET=my-movie-app-b4609.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=224909798382
VITE_FIREBASE_APP_ID=1:224909798382:web:8e0a66b4f6c002d6613cff
VITE_FIREBASE_MEASUREMENT_ID=G-C0ND35GCSC
