@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body,
  #root {
    min-height: 100svh;
  }

  body {
    overflow-x: hidden;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

@layer utilities {
  .no-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
